.album-container {
    width: 20%;
    min-width: 200px;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 1rem .25rem;
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    overflow-y: auto;
    height: 80vh;
}

.photo-container {
    width: 32%;
    max-width: 160px;
    margin: 0 calc(4% / 6);
}

.photo-container img {
    width: 100%;
    border-radius: 2px;
}