.images-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.images-main {
    width: 80%;
    max-width: 500px;
}

.search-container {
    height: 10%;
    display: flex;
    flex-direction: column;
}

.search-container p {
    text-align: center;
    padding: 2rem ;
}

.search-container form {
    width: 100%;
    height: 100%;
    padding: .5rem;
}

/* .search-container form label {
    opacity: 0.8;
    text-align: center;
} */

.search-bar,
.search-btn {
    padding: 1em;
    outline: none;
    border: 1px solid gray;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.288);
}

.search-bar {
    width: 90%;
    border-radius: 100px 0 0 100px;
}

.search-btn {
    width: 10%;
    border-radius: 0 100px 100px 0;
}

.search-result-container {
    padding: 3rem;
    overflow: hidden;
}

.search-result-container img {
    width: 100%;
    border-radius: 2px;
    background-color: rgba(128, 128, 128, 0.219);
}