header {
    width: 100%;
    padding: 1rem 10%;
    background-color: #333333;
    box-shadow: 1px 1px 5px #9292925b;
    /* position: fixed; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 2rem;
}