.navlinks {
	display: flex;
	width: 80%;
	list-style: none;
	max-width: 500px;
    justify-content: space-around;
}

.navlink-item {
    display: flex;
    align-items: center;
    justify-content: center;
}


.navlink-item a {
    text-decoration: none;
    padding: .5rem;
    user-select: none;
    transition: all 0.2s ease-in-out;
    color: #ad9f029d;
}

.navlink-item a:hover,
.navlink-item a:active,
.navlink-item a.active {
    color: #ffea00;
    font-weight: bold;
}


.navlink-item button {
    padding: .5rem;
    user-select: none;
    background-color: transparent;
    color: #ffea00;
    outline: none;
    border: 1px solid #ffea00;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}

.navlink-item button:hover {
    background-color: #ffea00;
    color: black;
    font-weight: bold;
}