.post-container {
	width: 30%;
	min-width: 300px;
	padding: 1rem;
	border: 1px solid gray;
	border-radius: 5px;
	margin: 1rem 0.25rem;
	background-color: #4b4b4b;
	cursor: pointer;
	box-shadow: 2px 2px 10px #b8b8b827;
	transition: background-color 0.2s ease-in-out;
}
.post-container:hover {
	box-shadow: 2px 2px 20px 3px #a3a3a362;
	background-color: #3b3b3b;
}

.post-container:hover .post__title {
	color: #fff15c;
}

.post-container:hover .post__body {
	color: #fff79e;
}

.post__title {
	color: #fff15cb7;
	padding-bottom: 1em;
	transition: color 0.2s ease-in-out;
}

.post__body {
	color: #fff79e9d;
	font-size: 0.9em;
	transition: color 0.2s ease-in-out;
}

.post__footer {
	padding-top: 1em;
}

.comments__heading {
	text-align: center;
	font-size: 2.5rem;
    color: #ffea00;
    margin-bottom: .3em;
}

.post__comments {
	color: #ffea00;
	transition: all 0.2s ease-in-out;
}

.post__comments:hover {
	color: #fffac2;
	cursor: pointer;
}

.comments-container {
	width: 100%;
	height: 60vh;
	display: flex;
	flex-direction: column;
    overflow-y: auto;
    padding-top: 1em;
}
